@mixin todo-frame {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid #00B2FE;
  border-radius: 10px;
  line-height: 1.2;
}

.todo {
  @include todo-frame;

  height: 55px;
  cursor: pointer;
}

.todo-new {
  @include todo-frame;

  flex-direction: column;
}

.todo-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

.todo-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: .5rem;
  height: .5rem;
}

.todo-title {
  font-weight: 500;
  font-size: 16px;
}

.todo-description {
  font-size: 12px;
}

.todo-c {
  flex: 1;
}

.create-todo {
  display: flex;
  // justify-content: flex-end;
  justify-content: center;
  cursor: pointer;
}

.create-todo-icon {
  // margin-right: 10px;
  line-height: 1;
  color: #fff;
  background: #00B2FE;
  // border: 1px solid #00B2FE;
  border-radius: 50%;
}

.todo-form {
  position: relative;
}